
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="container body-content">
        <hr />
        
            <h3> <strong>Brak wybranego załącznika</strong>. Cofnij się do poprzedniej strony i wskaż plik do załadowania, zanim klikniesz <i>Załącz do maila</i>.</h3>
    </div>

</body>
</html>
