@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blokada";
}

<main>
    <hgroup>
        <h1 class="text-danger">Zablokowane.</h1>
        <h2 class="text-danger">To konto zostało zablokowane, spróbuj później.</h2>
    </hgroup>
</main>
