@{
    ViewBag.Title = "Potwierdzenie odnowienia hasła";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Sprawdź swoją skrzynkę email żeby zresetować hasło.
        </p>
    </div>
</main>
