@{
    ViewBag.Title = "Potwierdzenie odnowienia hasła";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("kliknij tutaj żeby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
