@{
    ViewBag.Title = "Konfiguracja";
}

<h2 id="title">@ViewBag.Title</h2>
<br />
<h4>Wejdź do sekcji, w której chcesz wprowadzić dane</h4>
<br />

<div class="row">
    <table class="table table-hover table-striped mt-3 mb-5">
        <tbody class="col-lg-6">
            <tr>
                <td>
                    <strong> Dane personalne nadawcy</strong>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick='window.location.href="@Url.Action("SenderPersonalDataIndex","Configuration")"'>Wejdź</button>
                </td>
            </tr>
            <tr>
                <td>
                    <strong> Dane Adresata</strong>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick='window.location.href="@Url.Action("ReceiverDataInput","Configuration")"'>Wejdź</button>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Dane Stopki</strong>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick='window.location.href="@Url.Action("FooterDataInput","Configuration")"'>Wejdź</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-secondary" type="submit">Wyjdź</button>
</div>