@model EmailManager.Models.ViewModels.EditEmailViewModel

@{
    ViewBag.Title = "Email";
}

<h2>Email</h2>


    <div font-size: 16px padding: 10px; font-family: Arial; line-height: 1.4;>
        @Model.Email.MessageBody
    </div>


