@model EmailManager.Models.Domains.Email

<html>
        <head>
        </head>
    <body>
    
        <i>@ViewBag.SuccessfulSentMailMessage</i>
    
    
        <div font-size: 16px padding: 10px; font-family: Arial; line-height: 1.4;>
            @Model.MessageSubject
        </div>
        <br />
        <div>@Model.MessageBody</div>
        <br />
        <div>@Model.Footer.FooterData.ComplimentaryClose</div>
    </body>
</html>